<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-container">
    <a href="/" class="logo-container">
      <img src="assets/logo_coonadoc_hrizont.png" alt="Logo CONADOC" class="logo" />
    </a>

    <div class="icon-bar">
      <button 
        class="hamburger" 
        (click)="toggleMobileMenu()"
        aria-label="Menú de navegación"
        [attr.aria-expanded]="mobileMenuOpen"
        [attr.aria-controls]="'nav-links'">
        <fa-icon [icon]="mobileMenuOpen ? faXmark : faBars"></fa-icon>
      </button>
    </div> 

    <ul 
      id="nav-links" 
      class="nav-links" 
      [ngClass]="{ 'open': mobileMenuOpen }"
      role="menubar">
      <li role="none">
        <a href="/" role="menuitem" (click)="closeMobileMenu()">Inicio</a>
      </li>
      
      <li class="dropdown" role="none">
        <a href="#quienes" role="menuitem" >Quiénes Somos</a>
        <ul class="submenu" role="menu">
          <li role="none">
            <a href="#quienes" role="menuitem" >¿Quiénes Somos?</a>
          </li>
          <li role="none">
            <a href="#historia" role="menuitem" (click)="closeMobileMenu()">Historia</a>
          </li>
          <li role="none">
            <a href="#mision" role="menuitem" (click)="closeMobileMenu()">Misión</a>
          </li>
          <li role="none">
            <a href="#vision" role="menuitem" (click)="closeMobileMenu()">Visión</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a href="#servicios" role="menuitem" (click)="closeMobileMenu()">Servicios</a>
      </li>

      <li class="dropdown" role="none">
        <a role="menuitem" >Documentos</a>
        <ul class="submenu" role="menu">
          <li role="none">
            <a href="#documentos" role="menuitem" (click)="closeMobileMenu()">Formatos administrativos</a>
          </li>
          <li role="none">
            <a href="#documentos" role="menuitem" (click)="closeMobileMenu()">Descargas PDF</a>
          </li>
        </ul>
      </li>

      <li role="none">
        <a href="#blog" role="menuitem" (click)="closeMobileMenu()">Blog</a>
      </li>

      <li class="dropdown" role="none">
        <a role="menuitem" >Contacto</a>
        <ul class="submenu" role="menu">
          <li role="none">
            <a href="#contacto" role="menuitem" (click)="closeMobileMenu()">Formulario de contacto</a>
          </li>
          <li role="none">
            <a href="#contacto" role="menuitem" (click)="closeMobileMenu()">Envío de mensajes</a>
          </li>
          <li role="none">
            <a href="#contacto" role="menuitem" (click)="closeMobileMenu()">Preguntas frecuentes (FAQ)</a>
          </li>
        </ul>
      </li>
    </ul> 
    <div class="login-icon">
      <a routerLink="/admin" title="Área de administración">
        <fa-icon [icon]="faUserLock"></fa-icon>
      </a>
    </div>   
  </div>

  
</nav>