/* Estilos específicos del componente home */

.home {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem 0;
  
  @media (max-width: 768px) {
    padding: 1rem 0;
  }
}

/* Estilos globales */
html {
  scroll-behavior: smooth;
}
